APP_NAME='dockerize-php-xapp'
APP_URL='http://localhost:80/'

SERVER_PORT=9000

DB_CONNECT=mysql
DB_HOST=dockerize_xapp_mysql_service # service name in the Docker compose setup
MYSQL_PORT=3306 # The MySQL port inside the container (3306)
MYSQL_DATABASE=test_database
MYSQL_USER=user
MYSQL_PASSWORD=password

MYSQL_ROOT_PASSWORD=password
MYSQL_ROOT_HOST=localhost

REDIS_PASSWORD=
REDIS_PORT=
REDIS_DATABASES=
